<div class="form-group">
	{{ form_label(form.idWebsite, form.idWebsite.vars.label, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
	<div class="col-md-4">
		<select name="{{ form.vars.name }}[{{ form.idWebsite.vars.name }}]" class="form-control">
			{% for w in websitesList %}
			<option value="{{ w.id }}" {% if (w.id == entity.idWebsite) %}selected{% endif %}>{{ w.domain }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="form-group">
	{{ form_label(form.email, form.email.vars.label, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
	<div class="input-icon col-md-4">
		<i class="fa fa-user"></i>
		{{ form_widget(form.email, {attr:{'class':'form-control'}}) }}
	</div>
</div>
<div class="form-group">
	{{ form_label(form.password, form.password.vars.label, {'label_attr': {'class': 'col-md-3 control-label'}}) }}
	<div class="input-icon col-md-4">
		<i class="fa fa-lock"></i>
		{{ form_widget(form.password, {attr:{'class':'form-control'}}) }}
	</div>
</div>